:root {
    --base: #ffc600;
    --spacing:10px;
    --blur: 10px,
}

img{
    max-width: 520px;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));

}
.h1{
    color: var(--base);
}

body {
    text-align: center;
}

body {
    background: #3d3846;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 100;
    font-size: 50px;
}


.controls{
    margin-bottom: 50px;
}
